div(layout='column', layout-padding="", layout-margin="")
  .timetable()

div(layout-gt-sm='row', layout='column')
  div(flex='')
  div(flex-gt-sm='80')

    div(layout='row', layout-align='end center')
      span(flex='')
      md-button.md-primary.md-raised(ui-sref="dashboard()")
        | Regresar

  div(flex='')
