div(layout-gt-sm='row', layout='column')
  div(flex='')
  md-divider()
  div(flex-gt-sm='80')
    md-subheader.md-no-sticky Cursos disponibles
    md-list-item(ng-click='dashboardController.showCurseOptions($event, $index)', ng-repeat='curse in dashboardController.curses')
      p  {{ curse.label }}
      .sys-list-item-input-container()
        md-input-container.md-block(md-no-float='')
          input(ng-model='curse.selectedGroup', placeholder='Grupo', ng-change='dashboardController.updateGroup($index, curse.selectedGroup)')

    div(layout='row', layout-align='end center')
      span(flex='')
      md-button.md-primary.md-raised(ng-click="dashboardController.applySelections()")
        | Aplicar
    //md-list
      md-list-item
        p Click anywhere to fire the secondary action
        md-menu.md-secondary
          md-button.md-icon-button
            md-icon()
              | message
          md-menu-content(width='4')
            md-menu-item
              md-button
                | Redial
            md-menu-item
              md-button
                | Check voicemail
            md-menu-divider
            md-menu-item
              md-button
                | Notifications

  md-divider()
  div(flex='')

