div(layout-gt-sm='row', layout='column')
  div(flex='')
  div(flex-gt-sm='50')
    form(ng-submit="", name='loginForm')
      md-card
        md-card-content
          h2 Inciar sessión
          md-content.md-no-momentum
            md-input-container.md-icon-float.md-block
              label Usuario
              md-icon()
                | person
              input(ng-model='loginController.form.user', type='text', ng-required='true')
            md-input-container.md-icon-float.md-block
              label Pin
              md-icon()
                | lock
              input(ng-model='loginController.form.pin', type='password', ng-required='true',
              md-min-length="4", md-maxlength='4')

        md-card-actions(layout='row', layout-align='end center')
          md-button(ui-sref-active="active", ui-sref='signIn')
            | Registrarse
          md-button.md-primary.md-raised(ng-disabled="loginForm.$invalid",
          ui-sref="dashboard({user:loginController.form.user, pin:loginController.form.pin})")
            | Ingresar

  div(flex='')
    div()
