md-dialog(aria-label='curses')
  form(ng-cloak='')
    md-toolbar
      .md-toolbar-tools
        h2 {{details.code}} - {{details.label}}
        span(flex='')
        md-button.md-icon-button(ng-click='close()')
          md-icon()
            | close

    md-dialog-content
      .md-dialog-content
        div(layout = "column")
          md-list()
            md-subheader.md-no-sticky Cursos disponibles
            md-list-item.md-3-line(ng-repeat='option in details.options', ng-click='selectCurse($index)')
              .md-list-item-text(layout='column')
                h3 Grupo: {{option.group}} - Horario: {{option.schedule.label}}
                h4 Profesor: {{option.teacher}}
                p Sede: {{option.campus}}, Aula: {{option.room}}

    md-dialog-actions(layout='row')
      span(flex='')
      md-button.md-primary(ng-click="close()", md-autofocus='')
        | Regresar
