div(layout-gt-sm='row', layout='column')
  div(flex='')
  md-divider()
  div(flex-gt-sm='80')
    md-subheader.md-no-sticky Cursos disponibles
    md-list-item(ng-click='dashboardController.showCurseOptions($event, $index)', ng-repeat='curse in dashboardController.curses')
      p  {{ curse.label }}
      .sys-list-item-input-container()
        md-input-container.md-block(md-no-float='')
          input(ng-model='curse.selectedGroup', placeholder='Grupo', ng-change='dashboardController.updateGroup($index, curse.selectedGroup)')

    div(layout='row', layout-align='end center')
      span(flex='')
      md-button.md-primary.md-raised(ui-sref="login()")
        | Salir
      md-button.md-primary.md-raised(ui-sref="schedule()")
        | Aplicar

  md-divider()
  div(flex='')

